ul, li {
    list-style-type: none;
    text-align: center;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #0B6D95;
    background: #24ADB6;
    color: aliceblue;
}

button:hover {
    border: 1px solid blue;
}

span {
    margin-right: 3px;
}

div {
    margin-right: 20px;
}

.basket__img {
    width: 20px;
    height: 20px;
    background: #24ADB6;
}

header {
    background: linear-gradient(90deg, #0B6D95 0%, #24ADB6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
}

.header_items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    margin-left: auto;
}

.header__nav_items{
    display: flex;
    align-items: center;
      /*li:not(:first-child){*/
      /*    margin-left: 5px;*/
      /*}*/
}

.header__img {
    width: 50px;
    height: 50px;
}

.section_card {
    width: 100%;
}

.section_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.section_item {
    width: 25%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
}
@media screen and (max-width: 600px) {
    .section_item {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


.img_card {
    width: 100%;
    height: 300px;
}